:root{
    --black: #030610;
    --darkblue: #081246;
    --blue: #0630E1;
    --grey: #3D4147;
    --lightgrey: #B3B6BC;
    --oceanblue: #2045AF;
    --navyblue: #6586B8;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--lightgrey);
}

.App{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 3fr 1.5fr;
}

Nav{
  grid-row: 1/4;
}