.header-con{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    min-height: 80px;
    color: white;
}

.logo-container h1{
    padding-left: 10px;
}

.links-container{
    display: flex;
}

.list-item{
    padding-right: 20px;
    padding-top: 30px;
}

.list-item a{
    padding-right: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.mobile-menu{
    padding-right: 20px;
    font-size: 1.2rem;
    padding-top: 30px;
    display: none;
}